
#  British Airways Customer Review Analysis (part-1)


This project is about the collection of customer reviews from the website called as Skytrax with the help of web scrapping. Once we achiever the data our next task will be to clean it to analyse further

In [1]:
#importing the required libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#creating empty lists for creating the features and storing the scraped data

reviews =[]
stars=[]
date =[]
country =[]

In [3]:
pip install html5lib

Requirement already satisfied: html5lib in c:\users\nikhil\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\nikhil\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\nikhil\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
for i in range (1,366):
    page = requests.get(f'https://www.airlinequality.com/airline-reviews/british-airways')
    
    soup = BeautifulSoup(page.content, 'html5')
    
    for item in soup.find_all('div', class_ = 'text_content'):
        reviews.append(item.text)
    
    for item in soup.find_all('div', class_ ='rating-10'):
        try:
            stars.append(item.span.text)
        except:
            print(f'Error on this page {i}')
            stars.append('None')
            
    for item in soup.find_all('time'):
        date.append(item.text)
        
    for item in soup.find_all('h3'):
        country.append(item.span.next_sibling.text.strip('()'))

In [5]:
#checking the length for our lists
len(reviews)

3650

In [6]:
len(country)

3650

In [7]:
len(date)

3650

In [8]:
len(stars)

4015

In [9]:
#making the length of star list same as other list to create a dataframe
stars = stars[:3650]
len(stars)

3650

In [10]:
#create a dataframe from the collected list 
df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [11]:
df

,reviews,stars,date,country
0,"Not Verified | The worst service ever, my bag...",\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,9th September 2023,(Kuwait)
1,✅ Trip Verified | 4/4 flights we booked this ...,1,6th September 2023,(Germany)
2,✅ Trip Verified | British Airways has a total...,1,4th September 2023,(United Kingdom)
3,"✅ Trip Verified | London Heathrow to Keflavik,...",1,4th September 2023,(Iceland)
4,✅ Trip Verified | Mumbai to London Heathrow in...,8,4th September 2023,(Iceland)
...,...,...,...,...
3645,✅ Trip Verified | Care and support shocking. ...,8,4th September 2023,(United Kingdom)
3646,✅ Trip Verified | Flying A380 business class ...,8,2nd September 2023,(Australia)
3647,✅ Trip Verified | British Airways absolutely ...,2,1st September 2023,(United Kingdom)
3648,✅ Trip Verified | My recent experience with B...,1,1st September 2023,(United States)
3649,✅ Trip Verified | This is to express our disp...,1,31st August 2023,(United States)

Exporting the data into csv format

In [12]:
import os
cwd = os.getcwd()
df.to_csv(cwd +'/BristishAirlineReviews.csv')